html {
  scroll-behavior: smooth;
}

#game-photo {
  width: 200px;
  height: 200px;
  padding-bottom: 10px;
}

#modal-game-photo {
  height: 200px;
  width: 200px;
}

#games-index-card {
  padding: 20px;
  margin-bottom: 20px;
  height: 500px;
  box-shadow: 0px 2px 3px 3px rgba(20,20,20,0.2);
}

#games-show-page-photo {
  height: 400px;
}

#collection-card {
  padding: 20px;
  margin-bottom: 20px;
  height: 500px;
}

/* #collection-card-image {
  height: 150px;
  width: 150px;
} */

#keanu {
  max-width: 100%;
}

.games-h1 {
  text-align: center;
}

#copyright {
  text-align: center;
}